.header {
    background-color: white;
    box-shadow: var(--box-shadow);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.header .container {
    display: flex;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    padding: 15px 0;
}

.logo h1 {
    font-weight: 300;
    font-size: 1.8rem;
    color: var(--primary-color);
}
.logo{
    position: relative;
    left: -7px;
}

.logo p {
    font-size: 0.8rem;
    color: var(--gray-color);
}

.main-nav ul {
    display: flex;
    padding-right: 388px;
}

.main-nav li {
    margin-left: 30px;
}

.main-nav a {
    font-weight: 600;
    transition: var(--transition);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.6;
    color: #000
}

.main-nav a:hover {
    color: var(--primary-color);
}

.auth-buttons {
    display: flex;
    align-items: center;
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

body{
    margin:0;
    color:#6a6f8c;
    background: #fff/*url("background1.jpg") no-repeat center*/;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    padding-top: 90px;
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display: table}
.clearfix:after{clear:both;display: block}
a{color:inherit;text-decoration: none}
.menu-bar{
   
   display:flex;
   align-items: center; 

}
.menu{
    margin-left: 100px;
    padding-top: 40px;
    font-size: 20px;
}
.name-font{
    padding-top: 40px;
    padding-left: 20px; 
    display: block;
    font-size: 30px;
    margin-left:50px;
}
.signup_btn .button{
    cursor: pointer;
}
.menu-display{
    font-weight: 350;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    width: 1920px;
    height: 100px;
    background: linear-gradient(135deg, #14284e, #203e74);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.4);}
.login-wrap{
    width:100%;
    margin:auto;
    margin-top: 50px;
    max-width: 525px;
    min-height: 700px;
    position:relative;
    /*background: url("background1.jpg") no-repeat center;*/
    overflow: hidden;
    
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0 12px 15px 0 rgba(0,0,0,.24), 0 17px 50px 0 rgba(0,0,0,.19)
}
.login-html{
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 90px 70px 50px 70px;
     background: linear-gradient(180deg, #374a77, #1f2c4f);
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
    text-transform: uppercase;
}

.login-html .tab{
    font-size:22px;
    margin-right: 15px;
    padding-bottom:5px;
    margin:0 15px 10px 0;
    display: inline-block;
    border-bottom: 2px solid transparent;
}

.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
    color:#fff;
    border-color: #1161ee;
}
.login-form{
    min-height: 345px;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
    width: 100%;
    color: #fff;
    display:block;
}
.login-form .group .input,
.login-form .group .button{
    border:none;
    margin-bottom: 20px;
    padding: 15px 25px;
    border-radius: 25px;
    background: rgba(255,255,255,.1);
}
/* .login-form .group input[data-type="password"]{
    text-security: circle;
    -webkit-text-security:circle;
} */
.login-form .group .label{
    color:#aaa;
    font-size:12px;
}
.login-form .group .button{
    background: #1161ee;
}
.login-form .group label .icon{
    width:15px;
    height:15px;
    border-radius: 2px;
    position: relative;
    display: inline-block;
    background-color: rgba(255,255,255,.1);
} 
.login-form .group label .icon:before,
.login-form .group label .icon:after{
    content: '';
    width: 10px;
    height: 2px;
    background: #fff;
    position: absolute;
    transition: all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
    left:3px;
    width: 5px;
    bottom: 6px;
    transform: scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
    color: #fff;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
    transform: scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
    transform: scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
    transform: rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
    transform: rotate(0);
}
.hr{
    height:2px;
    margin:60px 0 50px 0;
    background: rgba(255,255,255,.2);
}
.foot-lnk{
    text-align:center
}
